body, #content { background-color: #fff!important; }

#content { padding-top: 0!important; }
#content .container section:not(:last-child):not(.last-page) { page-break-after: always; }
#content .container #file section { margin-top: 80px; border: 2px solid #444; z-index: 1001; }
#content .container section p:last-of-type { margin-bottom: 10px; }
.break-page { display: block!important; page-break-after: always; }

#header, #footer, .print-button, .hide-in-print, #gotoTop { display: none!important; }
.show-in-print { display: block!important; }

#print-header, #print-footer {
	position: fixed;
	left: 50px; right: 50px;
	display: block!important;
}

#print-header { top: 15px; }
#print-footer { bottom: 15px; }
#print-header h3 { margin: 0; }

/* make smaller */
.img-max-200 { width: 100px; }

/***
 * https://www.geeksforgeeks.org/how-to-make-an-html-page-in-a4-paper-size/
 **/

/* Set A5 size */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@page {
	size: A5;
	margin: 0;
}

/* Set content to fill the entire A5 page */
html,
body {
	width: 148mm;
	height: 210mm;
	margin: 0;
	padding: 0;
}
