@import url("print.css") print;

#wrapper { background-color: transparent; }
body, #content { background-color: var(--amadeus-body-bgd, #EBDFBD); }
#content { padding-top: 25px; }
#content ol, #content ul { padding-left: 25px; }

.first-page, .last-page {
	text-align: center;
}

#header.container section,
#content .container section:not(#file),
#footer-content section,
#footer h2 {
	background-color: #fff;
	color: #333!important;
}

#content .container section p { margin-bottom: 20px!important; }

#header.container { border-radius: 30px; padding: 20px; }
#print-header, #print-footer {
	background-color: var(--amadeus-print-hf, '#eee');
	border-radius: 20px;
	text-align: center;
	display: none;
	padding: 4px;
}

#print-header h3 { margin: 0; }
#print-footer span { display: inline-block; line-height: 50px; margin-left: 15px; }

#header-menu { text-align: center; }
#header-menu li { list-style-type: none; }

.header-bgd, .footer-bgd {
	background-color: var(--amadeus-heading-bgd, transparent);
}

.video-wrap { display: none; }

