body { cursor: default; }

/* COMMON */
#content section:not(#content #slider), #content .section, footer section:not(footer .engage section), footer .engage, .content-box { border-radius: 30px; margin-bottom: 30px; padding: 15px; }
#content h2, #footer-content h2, .read-more, .toggle-engage, .section-reader { border-radius: 15px; }

.flash { padding: 20px; border-radius: 20px; text-align: center; font-size: 130%; font-weight: bolder; }
.flash-green { background-color: #96e77f; }
.flash-yellow { background-color: #FFE792; }
.flash-orange { background-color: #c9a45e; }
.flash-red { background-color: #da5e5e; }

/* TOGGLE - used for site menu, quick links & TOC */
h2.toggle-list-below:after {
    content: "\ea99";
    font-family: IcoFont;
    position: relative;
    margin-left: 10px;
}

/* MISC */
.read-more { clear: both; display: block; background-color: #C2E09B; padding: 12px; margin-top: 15px; }
.img-fluid { width: 100%; }
.img-right { float: right; margin: 0 0 20px 20px; width: 200px; }
@media screen and (max-width: 450px) { /* responsive snap */
	.img-right { float: none; margin: 0; width: 100%; }
}
.img-max-500 { display: block; margin: 10px auto 10px auto; max-width: 500px; }
.img-max-400 { display: block; margin: 10px auto 10px auto; max-width: 400px; }
.img-max-300, .node-sitemap .show-in-landscape { display: block; margin: 10px auto 10px auto; max-width: 300px; }
.img-max-200 { display: block; margin: 10px auto 10px auto; max-width: 200px; }

.mood-image, .bordered-image { border: 1px solid #666; padding: 6px; }
.mood-image { width: 80px; }

/* https://stackoverflow.com/a/24630169 */
@media screen and (min-aspect-ratio: 13/9) { .show-in-portrait { display: none; } } 
@media screen and (max-aspect-ratio: 13/9) { .show-in-landscape { display: none; } }

.bannner { text-align: center; }
.bannner img { max-width: 100%; }

.content section:not(.content #slider), #content .section {
	padding: 20px;
	border-radius: 0;
	margin: 10px auto 20px auto;
}

#content.node-sitemap ul { padding: 0; }
#content.node-sitemap ul li { padding-left: 20px; list-style-type: none; }
#content.node-sitemap .menu-section { text-decoration: underline; padding-left: 15px; }
.nav-menu .drop-down ul a, .nav-menu .drop-down ul li.menu-section { padding: 5px 5px 5px 10px; }
.nav-menu .drop-down ul li.menu-section  { text-decoration: underline; padding-left: 10px; }
.nav-menu .drop-down ul li.indented a { padding-left: 15px; }

#quick-links { text-align: center; }
.in-page-menu ul, .in-page-menu ol { margin: 0; padding: 0; }
#quick-links li, .in-page-menu li { list-style-type: none; }
#quick-links .menu-section, .in-page-menu .menu-section { margin-top: 10px; text-decoration: underline; font-size: larger; }
#quick-links li a { display: inline-block; padding: 6px 12px 6px 12px; margin: 4px; border-radius: 15px;
    background-color: var(--amadeus-header-menu-background, azure); }
#quick-links li.selected a, .in-page-menu li.selected a  { font-weight: bold; text-decoration: underline; }

.composite-work .navigation { text-align: center; }
.composite-work .navigation ol { display: inline-block; text-align: left; }
.composite-work .navigation li img { margin: 0 0 12px 0; }

.composite-work h2.piece { text-decoration: underline; margin-bottom: 6px; }
.composite-work h2 .number { float: right; font-size: 70%; padding-top: 6px; }
.composite-work h3.category { font-size: 85%; margin-bottom: 6px; }
.composite-work .img-piece { margin: 0; }
.composite-work .break-page { display: none; }
.composite-work .break-page.printing hr { none; }

/* TABLES */
table.headings-on-left th { text-align: right; }
table.headings-on-left td, .header th.left { text-align: left; }
table.headings-on-left .header { text-transform: uppercase; background-color: antiquewhite!important; }

/* PROMOTION */
#promote ul, .site-promotions ul { list-style-type: none; padding-left: 0; margin-left: 0; }

/* GALLERY */
.gallery li { list-style-type: none; margin-bottom: 20px; padding: 15px; }
.gallery li:not(.gallery .row li) { border: 1px solid brown; border-radius: 30px; }
.gallery h3 { text-align: center; background-color: rgb(112, 202, 150); margin: 10px 0 0 0; }

/* EMBEDS */
.deck-container { height: 75vh; }
.deck-container iframe { width: 100%; height: 70vh; border-radius: 20px; }

a.is-full-screen { position: absolute; top: 80px; right: 20px; z-index: 1200; }
iframe.is-full-screen { position: absolute; height: 95vh; top: 60px; right: 0; bottom: 10px; left: 10px; z-index: 1100; }

/* https://www.h3xed.com/web-development/how-to-make-a-responsive-100-width-youtube-iframe-embed */
.video-container { position: relative; width: 100%; height: 0; padding-bottom: 56.25%; margin-bottom: 20px; }
.video-container iframe { position: static; top: 0; left: 0; right: 0; width: calc(100% - 20px); height: calc(100vh - 100px); }

/* ICONS */
.g-doc, .g-slide, .g-sheet, .yt, .legacy
{ background:  left center no-repeat; padding-left: 20px!important; padding-right: 0px!important; }
.g-doc { background-image: url(https://drive-thirdparty.googleusercontent.com/16/type/application/vnd.google-apps.document)!important; }
.g-slide { background-image: url(https://drive-thirdparty.googleusercontent.com/16/type/application/vnd.google-apps.presentation)!important; }
.g-sheet { background-image: url(https://drive-thirdparty.googleusercontent.com/16/type/application/vnd.google-apps.spreadsheet)!important; }
.yt { background-image: url(https://s.ytimg.com/yts/img/favicon_32-vflOogEID.png)!important; padding-left: 38px; }

h1.amadeus-icon { text-align: center; }
h2.amadeus-icon { font-size: 120%; padding: 5px; text-align: center; }
#topbar .icofont-amadeus, #topbar .icofont-yieldmore { height: 14px; width: 14px; display: block; }
.amadeus-icon:not(#promote h2):not(.whitelabelled), .icofont-amadeus { background: var(--amadeus-header-menu-bgd, #F5DDB5) url(amadeus-icon-30px.png?fver=4) no-repeat left center; background-size: contain; }
.yieldmore-icon:not(#promote h2) { background:  url(yieldmore-icon-30px.png) no-repeat left center; background-size: contain; }
span.yieldmore-icon { padding-left: 25px; margin-left: 5px; }
.icofont-yieldmore { text-indent: -999px; background:  url(yieldmore-icon-30px.png) no-repeat; width: 14px; height: 14px; background-size: 14px 14px; display: inline-block; position: relative; top: 2px; }
footer .social-links a i { height: 40pt; width: 40pt; background-size: cover; }

#statistics { background-color: #ccc; padding: 30px; padding-top: 20px; }
#statistics section { text-align: center; font-size: smaller; background-color: white; padding: 0; margin-bottom: 20px; }
#statistics h2 { margin: 0 0 10px 0; }
#statistics li { list-style-type: none; }

body.has-chatra { padding-bottom: 90px; }
