/* TODO: Better way? - in progress! */
#content section:not(#content #slider), #content .section, footer section:not(footer .engage section), footer .engage { background-color: #fff; }
.content section:not(.content #slider), #content .section, .content-box { background-color: #fff; }

.above-header-content { margin: 150px 0 0 0;  }
@media screen and (max-width: 994px) { /* responsive snap */
	.above-header-content { margin: 70px 0 0 0; }
}

#content .level-1-menu, #content .level-1-menu ul { margin: 0; padding: 0; list-style-type: none; }
#content .level-1-menu > li { margin-top: 25px; }
#content .level-2-menu > li { border-top: 4px ridge #666; list-style-type: decimal; margin: 0 0 10px 35px; }
#content .level-2-menu > li > blockquote { margin: 0 5px 0 0; border: 2px solid #333; }

#header-menu { background-color: var(--amadeus-header-menu-background, #EEEEAB)!important; text-align: center; padding: 15px; margin: 20px 0 20px 0; }
#header-menu h2 { background-color: #829a63; padding: 10px; }
#header-menu h2:not(.amadeus-icon) a { text-decoration: underline; color: #FFE792; }
#header-menu ul { list-style-type: none; margin: 0; padding: 0; text-indent: 0; }

.menu-section h1, .menu-section h2 { font-size: inherit; text-decoration: underline; }
#header-menu .selected a { text-decoration: underline; }

#footer:not(.dark) { padding: 0; background-color: var(--amadeus-site-body-background, #eee); }
#footer .copyright-and-credits { margin: auto!important; }
#footer a.contrasting-link, #footer .amadeus-credits { background-color: #fff; padding: 4px 20px 4px 20px; border-radius: 8px; margin: 5px; }
#footer .copyright, #footer .credits { float: none!important; display: table-cell; line-height: 18px; text-align: center; padding: 10px; }

.nav-menu > ul > li.btn { padding: .375rem .75rem; }
.nav-menu > ul > li > a { padding: 0px 6px 0px 6px; line-height: 2.5em; border-radius: 8px; }
.page-menu li a { padding: 6px; line-height: 2.5em; }
.mobile-nav .selected a:not(.mobile-nav .selected ul li:not(.selected) a),
.nav-menu .selected a:not(.nav-menu .selected ul li:not(.selected) a), .nav-menu .selected a:hover,
.page-menu .selected a, .page-menu .selected a:hover {
	background-color: var(--amw-primary-color);
	color: var(--amw-primary-text-color);
	font-weight: bold;
}

.mobile-nav .active a:hover { text-decoration: underline; }

.featured-services .icon-box:hover a { background-color: cyan; padding: 2px; border-radius: 5px; }

