/* TODO: Better way? */
body { background-color: var(--ym-site-bgd-color); }

#content section:not(#content #slider), #content .section, footer section:not(footer .engage section), footer .engage { background-color: #fff; }
.content section:not(.content #slider), #content .section { background-color: #fff; }

#content section ul, #content section ol { margin-left: 40px; }
#content section li { margin-bottom: 8px; }

.gallery { background-color: #fff; padding: 15px; border-radius: 12px; margin-bottom: 25px; }
.gallery ul, .gallery li { margin-bottom: 0; }
