body {
	background: #4e616d;
}

.menu-link {
	background-color: #529067;
	opacity: .7;
}

#wrapper, #content {
	background-color: #C1FFD6!important;
	font-size: 20px;
}

#slider, #copyrights { background-color: #C1FFD6!important; }

#footer .col-lg-7 a { letter-spacing: 2px; background-color: #C1FFD6; margin-left: 6px; padding: 4px 10px 4px 10px; border-radius: 8px; margin-bottom: 8px; }

#footer, #footer h4, #footer a, #copyrights {
	color: #49795C !important;
	font-weight: bold;
}

