body { background-color: #B571B1!important; font-weight: 900; }
.reveal *, .reveal h1, .reveal h2, .reveal h3 { color: #fff; }

#topbar { background-color: #B571B1; position: sticky; color: #B571B1; }

.slides { text-align: center; }
.slides ul { list-style-type: 0; }
.slides li { padding: 4px; border-bottom: 1px #999 solid; }

/* https://www.h3xed.com/web-development/how-to-make-a-responsive-100-width-youtube-iframe-embed */
.video-container { position: relative; width: 100%; height: 0; padding-bottom: 56.25%; margin-bottom: 20px; }
.video-container iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

