:root {
	--bs-body-bg: #A8D4FF;
}

body { cursor: default; background-color: var(--amw-site-background, #A8D4FF) ; }
.header-bgd, .footer-bgd { background-color: var(--amw-footer-background, #617da3); }
.footer-message { font-size: 24px; text-align: center; font-weight: 900; }

#content, #promote { font-size: 110%; line-height: 1.4em; }
#content h1, #promote h1 { font-size: 140%; }
#content h2, #promote h2 { font-size: 130%; }
#content h3, #promote h3 { font-size: 120%; }

#content blockquote { border-left: #666 solid 4px; padding: 10px; }
blockquote a { background-color: #FFE792; padding: 4px 8px 4px 8px; font-weight: bold; border-radius: 10px }

#content img.link { border-bottom: 5px solid navy; padding-bottom: 6px }
img.rounded { border-radius: 40px!important; }

div.center { text-align: center; }
div.right, img.right { float: right; }
img.border { padding: 20px; border: 2px gray solid; }

hr.clear { clear: both; padding-top: 20px; background-color: #fff; border-bottom: 2px gray solid; }
hr.dashed { border-bottom-style: dashed; }

/* https://stackoverflow.com/a/24630169 */
@media screen and (min-aspect-ratio: 13/9) { .show-in-portrait { display: none; } } 
@media screen and (max-aspect-ratio: 13/9) { .show-in-landscape { display: none; } }

.above-header-content { margin: 150px 0 0 0;  }
@media screen and (max-width: 994px) { /* responsive snap */
	.above-header-content { margin: 70px 0 0 0; }
}

#footer-content { padding: 30px 0 30px 0; }

#footer-message { text-align: center; font-size: 130%; font-weight: bold; }
#footer-content .social-links { text-align: center; }
#footer-content .social-links a { font-size: 40pt!important; text-decoration: none!important; }
