.panels #frame-controls, .panels table { background-color: #fff; }

.panels .linkable a, .table-filters li { padding: 6px 12px 6px 12px; line-height: 25px; border: 1px solid #999; border-radius: 8px; margin-right: 12px; background-color: cornsilk; }

.panels table.amadeus-table { border-collapse: collapse!important; }
.panels .amadeus-table th, .panels .amadeus-table td { padding: 8px; border: 2px solid #ccc; }
.panels .amadeus-table thead { position: sticky; top: 0; z-index: 10; background-color: white; }

.panels #groups, .panels #controls { text-align: center; }
.panels #controls { position: sticky; top: 10px; z-index: 20; padding: 10px; }
.panels #groups { margin-bottom: 15px; display: block; }

.panels #panel-menu h1 { text-align: center; }
.panels.container { margin-bottom: 20px; }
.panels .notice { padding: 6px; border-radius: 10px; background-color: #FFE792; margin: 10px 0 10px 0; display: inline-block; }
