<!--NOTE: let the menu script handle the actual resizing-->
<frameset id="fs-right-panel" cols="*,*">
	<frameset id="fs-content" rows="*,*">
		<frame name="menu" scrolling="auto" src="%menu-url%" />
		<frame name="content" scrolling="auto" src="%content-url%" />
	</frameset>
	<frame name="right-panel" scrolling="auto" src="%right-panel-url%" />
</frameset>
