<div class="panels">
	<section id="controls" class="size-width-to">
		%top-heading%
		<input type="button" id="btn-top" %top-button-settings% onclick="togglePanel(this, event)" />
		<input type="button" id="btn-bottom" %bottom-button-settings% onclick="togglePanel(this, event)" />
		<input type="button" id="btn-full-right" %full-right-button-settings% onclick="togglePanel(this, event)" />
	</section>

	<table id="tbr-panel-container">
		<tr>
			<td class="panel-cell">
				<section id="top-panel" class="panel">
					%top-notice%
					%top-groups%
					%top-html%
				</section>
			
			</td>
			
		%right-or-middle-tr-td%

				<section id="full-right-panel" class="panel">
					%full-right-heading%
					%full-right-text%
				</section>
			</td>
		</tr>

		<tr>
			%bottom-td%
				<section id="bottom-panel" class="panel">
					%bottom-heading%
					%bottom-text%
				</section>
			</td>
	</table>
</div>