<table class="table-day-calendar">
	<tr>
		<td class="top-left">%CellOne%</td>
		<td class="top-center">%CellTwo%</td>
		<td class="top-right">%CellThree%</td>
	</tr>
	<tr>
		<td class="center-left">%CellFour%</td>
		<td class="center-center">%CellFive%</td>
		<td class="center-right">%CellSix%</td>
	</tr>
	<tr>
		<td class="bottom-left">%CellSeven%</td>
		<td class="bottom-center">%CellEight%</td>
		<td class="bottom-right">%CellNine%</td>
	</tr>
</table>
