<table class="table-month-calendar" cellpadding="10">
	<thead>
		<tr>
			<th>Sun</th>
			<th>Mon</th>
			<th>Tue</th>
			<th>Wed</th>
			<th>Thu</th>
			<th>Fri</th>
			<th>Sat</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>%cell-1-1%</td>
			<td>%cell-1-2%</td>
			<td>%cell-1-3%</td>
			<td>%cell-1-4%</td>
			<td>%cell-1-5%</td>
			<td>%cell-1-6%</td>
			<td>%cell-1-7%</td>
		</tr>
		<tr>
			<td>%cell-2-1%</td>
			<td>%cell-2-2%</td>
			<td>%cell-2-3%</td>
			<td>%cell-2-4%</td>
			<td>%cell-2-5%</td>
			<td>%cell-2-6%</td>
			<td>%cell-2-7%</td>
		</tr>
		<tr>
			<td>%cell-3-1%</td>
			<td>%cell-3-2%</td>
			<td>%cell-3-3%</td>
			<td>%cell-3-4%</td>
			<td>%cell-3-5%</td>
			<td>%cell-3-6%</td>
			<td>%cell-3-7%</td>
		</tr>
		<tr>
			<td>%cell-4-1%</td>
			<td>%cell-4-2%</td>
			<td>%cell-4-3%</td>
			<td>%cell-4-4%</td>
			<td>%cell-4-5%</td>
			<td>%cell-4-6%</td>
			<td>%cell-4-7%</td>
		</tr>
		<tr>
			<td>%cell-5-1%</td>
			<td>%cell-5-2%</td>
			<td>%cell-5-3%</td>
			<td>%cell-5-4%</td>
			<td>%cell-5-5%</td>
			<td>%cell-5-6%</td>
			<td>%cell-5-7%</td>
		</tr>
	</tbody>
</table>

