@import url(../panels/panels.css);

.table-filters strong { font-size: 13pt; }
.table-filters ul, .table-filters li { display: inline-block; }
.table-filters li { cursor: hand; }

.table-bordered.card {
	border: 0 !important;
}
.card thead {
	display: none;
}

.card tbody tr {
	float: left;
	width: 25em;
	margin: 0.5em;
	border: 1px solid #bfbfbf;
	border-radius: 0.5em;
	background-color: transparent !important;
	box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
}
.card tbody tr td {
	display: block;
	border: 0;
}

.table-month-calendar { width: 100%; border-bottom: 2px solid #666; }
.table-month-calendar td { vertical-align: top; }
.table-month-calendar > tbody > tr { margin-top: 5px; border-top: 2px solid #666; }
.table-month-calendar > tbody > tr > td { padding: 0 5px 0 5px; border-right: 2px solid #999; }

.table-day-calendar td {
	width: 33%!important;
	overflow: hidden;
	font-size: xx-small;
}
