/*!
 * Bootstrap Icons v1.11.3 (https://icons.getbootstrap.com/)
 * Copyright 2019-2024 The Bootstrap Authors
 * Licensed under MIT (https://github.com/twbs/icons/blob/main/LICENSE)
 */
@font-face {
	font-display: block;
	font-family: bootstrap-icons;
	src: url(https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/fonts/bootstrap-icons.woff2?dd67030699838ea613ee6dbda90effa6) format("woff2"), url(https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/fonts/bootstrap-icons.woff?dd67030699838ea613ee6dbda90effa6) format("woff")
}

.bi::before,
[class*=" bi-"]::before,
[class^=bi-]::before {
	display: inline-block;
	font-family: bootstrap-icons !important;
	font-style: normal;
	font-weight: 400 !important;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	vertical-align: -.125em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

.bi-yieldmore { text-indent: -999px; background:  url(../../features/assets/yieldmore-icon-30px.png) no-repeat; width: 14px; height: 14px; background-size: 14px 14px; display: inline-block; position: relative; top: 2px; }
#container06 .social-links a i, #container06 .social-links a i:before { height: 40pt; width: 40pt; font-size: 30pt; line-height: 40pt; background-size: cover; }

.bi-123::before {
	content: "\f67f"
}

.bi-align-center::before {
	content: "\f104"
}

.bi-align-middle::before {
	content: "\f106"
}

.bi-align-top::before {
	content: "\f108"
}

.bi-alt::before {
	content: "\f109"
}

.bi-arrow-down::before {
	content: "\f128"
}

.bi-at::before {
	content: "\f152"
}

.bi-bootstrap-fill::before {
	content: "\f1a6"
}

.bi-bootstrap::before {
	content: "\f1a8"
}

.bi-columns::before {
	content: "\f2ce"
}

.bi-display-fill::before {
	content: "\f301"
}

.bi-display::before {
	content: "\f302"
}

.bi-envelope-fill::before {
	content: "\f32c"
}

.bi-envelope::before {
	content: "\f32f"
}

.bi-facebook::before {
	content: "\f344"
}

.bi-filter::before {
	content: "\f3ca"
}

.bi-google::before {
	content: "\f3f0"
}

.bi-image-alt::before {
	content: "\f428"
}

.bi-image-fill::before {
	content: "\f429"
}

.bi-image::before {
	content: "\f42a"
}

.bi-link::before {
	content: "\f471"
}

.bi-linkedin::before {
	content: "\f472"
}

.bi-phone-fill::before {
	content: "\f4e2"
}

.bi-phone::before {
	content: "\f4e7"
}

.bi-tag-fill::before {
	content: "\f5af"
}

.bi-tag::before {
	content: "\f5b0"
}

.bi-text-center::before {
	content: "\f5c4"
}

.bi-type-h1::before {
	content: "\f5f1"
}

.bi-type-h2::before {
	content: "\f5f2"
}

.bi-type-h3::before {
	content: "\f5f3"
}

.bi-type::before {
	content: "\f5f7"
}

.bi-window::before {
	content: "\f620"
}

.bi-x::before {
	content: "\f62a"
}

.bi-youtube::before {
	content: "\f62b"
}

.bi-body-text::before {
	content: "\f683"
}

.bi-envelope-x-fill::before {
	content: "\f699"
}

.bi-envelope-x::before {
	content: "\f69a"
}

.bi-meta::before {
	content: "\f6a1"
}

.bi-window-x::before {
	content: "\f6d3"
}

.bi-envelope-at-fill::before {
	content: "\f84b"
}

.bi-envelope-at::before {
	content: "\f84c"
}

.bi-copy::before {
	content: "\f759"
}

.bi-envelope-arrow-down-fill::before {
	content: "\f7b3"
}

.bi-envelope-arrow-down::before {
	content: "\f7b8"
}

.bi-type-h4::before {
	content: "\f8dc"
}

.bi-type-h5::before {
	content: "\f8dd"
}

.bi-type-h6::before {
	content: "\f8de"
}