							<ul class="not-dark menu-container">
								<li class="menu-item current"><a class="menu-link" href="#"><div>Home</div></a></li>
								<li class="menu-item mega-menu"><a class="menu-link" href="demo-store-products.html"><div>Men</div></a>
									<div class="mega-menu-content mega-menu-style-2">
										<div class="container">
											<div class="row">
												<ul class="mega-menu-column sub-menu-container border-start-0 col-lg-3">
													<li class="mega-menu-title menu-item"><a class="menu-link" href="#"><div>Footwear</div></a>
														<ul class="sub-menu-container">
															<li class="menu-item"><a class="menu-link" href="#"><div>Casual Shoes</div></a></li>
															<li class="menu-item"><a class="menu-link" href="#"><div>Formal Shoes</div></a></li>
															<li class="menu-item"><a class="menu-link" href="#"><div>Sports shoes</div></a></li>
															<li class="menu-item"><a class="menu-link" href="#"><div>Flip Flops</div></a></li>
															<li class="menu-item"><a class="menu-link" href="#"><div>Slippers</div></a></li>
															<li class="menu-item"><a class="menu-link" href="#"><div>Sandals</div></a></li>
														</ul>
													</li>
													<li class="mega-menu-title menu-item"><a class="menu-link" href="#"><div>Clothing</div></a>
														<ul class="sub-menu-container">
															<li class="menu-item"><a class="menu-link" href="#"><div>Casual Shirts</div></a></li>
															<li class="menu-item"><a class="menu-link" href="#"><div>T-Shirts</div></a></li>
															<li class="menu-item"><a class="menu-link" href="#"><div>Collared Tees</div></a></li>
															<li class="menu-item"><a class="menu-link" href="#"><div>Pants / Trousers</div></a></li>
														</ul>
													</li>
												</ul>
												<ul class="mega-menu-column sub-menu-container border-start-0 col-lg-3">
													<li class="mega-menu-title menu-item"><a class="menu-link" href="#"><div>Sportswear</div></a>
														<ul class="sub-menu-container">
															<li class="menu-item"><a class="menu-link" href="#"><div>Sports Casual Shirts</div></a></li>
															<li class="menu-item"><a class="menu-link" href="#"><div>Sports T-Shirts</div></a></li>
															<li class="menu-item"><a class="menu-link" href="#"><div>Sports Collared Tees</div></a></li>
															<li class="menu-item"><a class="menu-link" href="#"><div>Sports Shoes</div></a></li>
															<li class="menu-item"><a class="menu-link" href="#"><div>Jackets</div></a></li>
															<li class="menu-item"><a class="menu-link" href="#"><div>Swimwears</div></a></li>
														</ul>
													</li>
													<li class="mega-menu-title menu-item"><a class="menu-link" href="#"><div>Innerwears</div></a>
														<ul class="sub-menu-container">
															<li class="menu-item"><a class="menu-link" href="#"><div>Boxers</div></a></li>
															<li class="menu-item"><a class="menu-link" href="#"><div>Vests</div></a></li>
															<li class="menu-item"><a class="menu-link" href="#"><div>Sleepwears</div></a></li>
														</ul>
													</li>
												</ul>
												<ul class="mega-menu-column sub-menu-container border-start-0 col-lg-3">
													<li class="mega-menu-title menu-item"><a class="menu-link" href="#"><div>Innerwears</div></a>
														<ul class="sub-menu-container">
															<li class="menu-item"><a class="menu-link" href="#"><div>Boxers</div></a></li>
															<li class="menu-item"><a class="menu-link" href="#"><div>Vests</div></a></li>
															<li class="menu-item"><a class="menu-link" href="#"><div>Sleepwears</div></a></li>
														</ul>
													</li>
													<li class="mega-menu-title menu-item"><a class="menu-link" href="#"><div>Sunglasses</div></a></li>
													<li class="mega-menu-title menu-item"><a class="menu-link" href="#"><div>Watches</div></a></li>
													<li class="mega-menu-title menu-item"><a class="menu-link" href="#"><div>Bags</div></a></li>
													<li class="mega-menu-title menu-item"><a class="menu-link" href="#"><div>Headphones</div></a></li>
													<li class="mega-menu-title menu-item"><a class="menu-link" href="#"><div>Accessories</div></a></li>
												</ul>
												<ul class="mega-menu-column sub-menu-container col-lg-3 border-start-0">
													<li class="card p-0 bg-transparent border-0">
														<img class="card-img-top" src="demos/store/images/others/menu.jpg" alt="image cap">
														<a href="#" class="btn btn-link text-start fw-medium ps-0 bg-transparent"><u>Editor's Pick</u></a>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</li><!-- .mega-menu end -->
								<li class="menu-item"><a class="menu-link" href="demo-store-products.html"><div>Women</div></a></li>
								<li class="menu-item mega-menu"><a class="menu-link" href="#"><div>Help</div></a>
									<div class="mega-menu-content mega-menu-style-2">
										<div class="container">
											<div class="row">
												<ul class="mega-menu-column sub-menu-container col-lg-4 border-start-0">
													<li class="mega-menu-title menu-item"><a class="menu-link" href="#"><div>Contact Us</div></a>
														<ul class="sub-menu-container">
															<li class="menu-item">
																<div class="widget">
																	<address>
																		<strong>Melbourne Store:</strong><br>
																		795 Folsom Ave, Suite 600<br>
																		San Francisco, CA 94107<br>
																	</address>
																	<abbr title="Phone Number"><strong>Phone:</strong></abbr> (1) 8547 632521<br>
																	<abbr title="Fax"><strong>Fax:</strong></abbr> (1) 11 4752 1433<br>
																	<abbr title="Email Address"><strong>Email:</strong></abbr> info@canvas.com
																</div>
															</li>
														</ul>
													</li>
												</ul>
												<ul class="mega-menu-column sub-menu-container col-lg-4 border-start-0">
													<li class="mega-menu-title menu-item"><a class="menu-link" href="#"><div>Inquiries</div></a>
														<ul class="sub-menu-container">
															<li class="menu-item"><a class="menu-link" href="#"><div>About Us</div></a></li>
															<li class="menu-item"><a class="menu-link" href="#"><div>Size Chart</div></a></li>
															<li class="menu-item"><a class="menu-link" href="#"><div>Our Policies</div></a></li>
															<li class="menu-item"><a class="menu-link" href="#"><div>Exchange/Return</div></a></li>
															<li class="menu-item"><a class="menu-link" href="#"><div>Payments</div></a></li>
														</ul>
													</li>
												</ul>
												<ul class="mega-menu-column sub-menu-container col-lg-4 border-start-0">
													<li class="mega-menu-title menu-item"><a class="menu-link" href="#"><div>FAQs</div></a>
														<ul class="sub-menu-container">
															<li class="menu-item"><a class="menu-link" href="#"><div>Q. How do I purchase an item?</div></a></li>
															<li class="menu-item"><a class="menu-link" href="#"><div>Q. How do I return my items?</div></a></li>
															<li class="menu-item"><a class="menu-link" href="#"><div>Q. Shipping Charges?</div></a></li>
															<li class="menu-item"><a class="menu-link" href="#"><div>Q. What is your Delivery time?</div></a></li>
															<li class="menu-item"><a class="menu-link" href="#"><div>Q. Is there any hidden Charges?</div></a></li>
														</ul>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</li><!-- .mega-menu end -->
								<li class="menu-item"><a class="menu-link" href="demo-store-contact.html"><div>Contact</div></a></li>
							</ul>
