#amadeus-assistant-toc li { border-bottom: 1px dashed gray; margin-bottom: 15px; }
#amadeus-assistant-toc ul { list-style-type: none; }
#amadeus-assistant-toc .number { display: none; }

#amadeus-assistant-toc li.level-h2 { margin-left: 15px; }
#amadeus-assistant-toc li.level-h3 { margin-left: 30px; }

.section-reader { float: right; display: inline-block; }
.jump-to-heading, .start-playing, .section-toggle-play, .section-control { cursor: pointer; }

/* SPEECH Section from ideas.yieldmore.org, developed by Imran in 2022 */

.hidden, a[name=speak] { display: none; }
p.speakable, a.btn-large, span.btn-nota { border: teal solid; border-width: 1px 6px 1px 6px; padding: 8px; border-radius: 12px; cursor: pointer; background-color: #CAE8FF; }
span.btn-nota { background-color: #DCACC0; cursor: default; }
p.speakable:after, a.btn-large:after { content:'\21CA'; font-weight: 900; color: teal; }
p.speakable:after { font-size: 130%; float: right; }
a.btn-large:after { content: '\2197'; padding-left: 15px; }

.toggleRead { border: 2px #666 solid; border-radius: 8px; margin-left: 25px; padding: 6px; }
.toggleRead { padding-left: 60px; background: #B1CFE6 no-repeat left center url(toggleRead.png); background-size: 40px 40px; background-position: 8px center; }

.speak { background-color: #eee; }
ol.speak { border: 1px solid red; padding: 18px 18px 18px 35px; border-radius: 12px; }
ol.speak > li:not(.no-speakable-item-underline li) { border-bottom: 1px solid #666;  }

