<div id="speech-hidden-msg" class="flash flash-orange">Click Play in the TOC / Sections above to see the voice controls.</div>
<div id="speech">
  <h1>Text to Speech</h1>
  <p class="lead mt-4">Select Voice</p>
  <select id="voices" class="form-select"></select>
  <div class="d-flex mt-4">
    <div>
      <p class="lead">Volume</p>
      <input type="range" min="0" max="1" value="1" step="0.1" id="volume" />
      <span id="volume-label" class="ms-2">1</span>
    </div>
    <div class="mx-5">
      <p class="lead">Rate</p>
      <input type="range" min="0.1" max="10" value="1" id="rate" step="0.1" />
      <span id="rate-label" class="ms-2">1</span>
    </div>
    <div>
      <p class="lead">Pitch</p>
      <input type="range" min="0" max="2" value="1" step="0.1" id="pitch" />
      <span id="pitch-label" class="ms-2">1</span>
    </div>
  </div>
  <textarea class="form-control mt-5" cols="30" rows="15" placeholder="Type here..."></textarea>
  <div class="mb-5">
    <button id="start" class="btn btn-success mt-5 me-3">Start</button>
    <button id="pause" class="btn btn-warning mt-5 me-3">Pause</button>
    <button id="resume" class="btn btn-info mt-5 me-3">Resume</button>
    <button id="cancel" class="btn btn-danger mt-5 me-3">Cancel</button>
  </div>
</div>
