#header, #main { margin: auto; max-width: 500px; text-align: center; }
#main { background-color: #fff; padding: 20px; border-radius: 20px; }
#header h1 { background-position: center center; }

.flash { padding: 5px; border-radius: 10px; text-align: center; font-size: 110%; font-weight: bolder; margin-top: 15px; }
.flash-green { background-color: #96e77f; }
.flash-yellow { background-color: #FFE792; }
.flash-orange { background-color: #c9a45e; }
.flash-red { background-color: #da5e5e; }

.amadeus-credits { color: blue; font-weight: bold; font-size: 110%; text-decoration: none; }

/* share */
hr { max-width: 300px; }

.img-max-500 { display: block; margin: 10px auto 10px auto; max-width: 500px; }
.img-max-400 { display: block; margin: 10px auto 10px auto; max-width: 400px; }
.img-max-300 { display: block; margin: 10px auto 10px auto; max-width: 300px; }
.img-max-200 { display: block; margin: 10px auto 10px auto; max-width: 200px; }
.img-fluid { width: 100%; }
